[project_info]
APP_NAME=pytorch
REPO_URL=https://github.com/pytorch/pytorch.git
APP_VERSION=nightly
PROP_FETCH_REPO_TAGS=yes

# common env variables both for linux and windows
ENV_VAR=
       USE_ROCM=1
       USE_CUDA=0
       USE_KINETO=0
       CMAKE_PREFIX_PATH=${ROCM_HOME}
       DEVICE_LIB_PATH=${RCB_ROCM_SDK_BITCODE_HOME_DIR}
       HIP_CLANG_PATH=${RCB_ROCM_SDK_CLANG_BIN_DIR}
       HIP_DEVICE_LIB_PATH=${DEVICE_LIB_PATH}
       PYTORCH_BUILD_NUMBER=1
       PYTORCH_ROCM_ARCH=${RCB_AMDGPU_TARGETS}

#PYTORCH_BUILD_VERSION=2.7.1

# windows specific extra settings required
# UserWarning: It seems that the VC environment is activated
# but DISTUTILS_USE_SDK is not set.
# This may lead to multiple activations of the VC env.
# Please set `DISTUTILS_USE_SDK=1` and try again.
ENV_VAR_WINDOWS =
       BUILD_TEST=0
       USE_FLASH_ATTENTION=0
       USE_MEM_EFF_ATTENTION=0
       CC=${HIP_CLANG_PATH}/clang-cl
       CXX=${HIP_CLANG_PATH}/clang-cl
       DISTUTILS_USE_SDK=1

# use gcc instead of clang on linux
# because pytorch 2.7.0 builds with clang 19.0 but not with 20.0
# due to the new checks affecting to the memcpy command
# used in asmjit submodule
#ENV_VAR_LINUX =
#       CC=${HIP_CLANG_PATH}/clang
#       CXX=${HIP_CLANG_PATH}/clang++


CMD_CLEAN = python setup.py clean
CMD_HIPIFY = python tools/amd_build/build_amd.py
CMD_PRE_CONFIG = python -m pip install -r ./requirements.txt
CMD_BUILD = python setup.py bdist_wheel
CMD_INSTALL = RCB_CALLBACK__INSTALL_PYTHON_WHEEL $RCB_APP_SRC_DIR/dist
