[project_info]
name=therock
repo_url=https://github.com/rocm/therock
version=cf47597b1b0d835caabdf30015068b88b7382a92
patch_dir=release
# yes --> download source code with full history and tags
repo_tags=yes
use_rocm_sdk=no

env_common=
	LD_LIBRARY_PATH=

cmd_exec_dir=${ROCK_BUILDER_APP_SRC_DIR}
init_cmd = ./rcb_init.sh
config_cmd = ./rcb_config.sh
build_cmd = . .venv/bin/activate
            which python
            cmake --build build
#build_cmd = cmake --build build
