[app_info]
APP_NAME=aiter
REPO_URL=https://github.com/ROCm/aiter.git
# This is the AITER revision used by the SGLang 0.5.18 ROCm image.
APP_VERSION=d9e5ef7ce08ee7045d583aed768cff41aa9210fe
PROP_FETCH_REPO_TAGS=YES

PROP_DISABLE_WINDOWS=YES

ENV_VAR=
       CMAKE_PREFIX_PATH=${ROCM_HOME}
       HIP_CLANG_PATH=${CLANG_BIN_DIR}
       GPU_ARCHS=${RCB_AMDGPU_BASE_TARGETS}
       AITER_USE_SYSTEM_TRITON=1
       PREBUILD_KERNELS=1

ENV_VAR_LINUX =
       CMAKE_C_COMPILER=${ROCM_HOME}/bin/hipcc
       CMAKE_CXX_COMPILER=${ROCM_HOME}/bin/hipcc
       CC=gcc
       CXX=g++

ENV_VAR_WINDOWS =
       DISTUTILS_USE_SDK=1
       CC=${HIP_CLANG_PATH}/clang-cl
       CXX=${HIP_CLANG_PATH}/clang-cl

CMD_EXEC_DIR=${RCB_APP_SRC_DIR}
CMD_CLEAN = python3 setup.py clean
CMD_PRE_CONFIG = python3 -m pip install -r ./requirements.txt
CMD_BUILD = python3 setup.py bdist_wheel
CMD_INSTALL = RCB_CALLBACK__INSTALL_PYTHON_WHEEL ${RCB_APP_SRC_DIR}/dist
