[app_info]
APP_NAME=uccl
REPO_URL=https://github.com/uccl-project/uccl
APP_VERSION=main

#ubuntu dependencies:
# sudo apt install libgoogle-glog-dev libibverbs-dev

# common env variables both for linux and windows
ENV_VAR=
       CXX=$RCB_ROCM_SDK_HIPCC_APP

# use gcc instead of clang on linux
# because pytorch 2.7.0 builds with clang 19.0 but not with 20.0
# due to the new checks affecting to the memcpy command
# used in asmjit submodule
#ENV_VAR_LINUX =
#       CC=${HIP_CLANG_PATH}/clang
#       CXX=${HIP_CLANG_PATH}/clang++


CMD_EXEC_DIR=${RCB_APP_SRC_DIR}
CMD_BUILD = make all
