name: pull_request
on:
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: checkout_code
        uses: actions/checkout@v4 # action to check out the repository
      - name: chmod_exec_bit
        run: chmod +x ./tests/test1_check_build_steps.sh # Replace with your script path
      - name: exec_test1
        run: ./tests/test1_check_build_steps.sh # Exec
